<nav class="navbar navbar-expand-sm container" style="background-color: darkkhaki;;" >
  <a class="navbar-brand" href="./profile.component.html">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a
          class="nav-item nav-link"
          routerLink="users"
          routerLinkActive="active"
          >User</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-item nav-link"
          routerLink="repositories"
          routerLinkActive="active"
          >Repositories</a
        >
      </li>
    </ul>
  </div>
</nav>
