<form action="" class="container" style="background-color: darkkhaki;padding-top: 10px;">
  <div class="form-group">
    <app-navbar></app-navbar>
    <input
      type="text"
      class="form-control"
      placeholder="search user with username"
      [(ngModel)]="username"
      name="username"
      (keyup)="findProfile()"
    />
  </div>
</form>

<div class="container" style="padding-top: 10px; background-color: darkkhaki;">
    
  <div *ngIf="profile" class="card-group" style="display: flex;">
    <div class="card" style="background-color: darkkhaki;">
      <div class="card-body" style="float: right">
        <h5 class="card-title"><b>PROFILE</b></h5>
        <img
          class="card-img-top"
          src="{{ profile.avatar_url }}"
          style="border-radius: 100%; width: 15em; height: 15em; float: left"
          responsive
        />
        <div>
          <b>Name:</b> {{ profile.name }}<br /><strong>Username:</strong
          ><small>{{ profile.login }}</small>
        </div>
        <div *ngIf="profile.email">
          <a href="email to:{{ profile.email }}" {{profile.email}}></a>
        </div>
        <div><b>Lives in</b> {{ profile.location }}.</div>
        <div *ngIf="profile.bio"><b>Bio:</b> {{ profile.bio }}</div>
        <div><b>Number of repos:</b> {{ profile.public_repos }}</div>
        <div *ngIf="profile.hireable">Available for hire></div>

        <p>
          <a
            href="{{ profile.html_url }}"
            target="blank"
            class="btn btn-primary"
            >View profile on Github</a
          >
        </p>
      </div>
    </div>
    <div class="card" style="background-color: darkkhaki;">
      <div class="card-body">
        <h5 class="card-title"><b>REPOSITORIES</b></h5>
        <div class="panel-heading" *ngFor="let repo of repos">
          <div class="clearfix">
            {{ repo.name }}<br /><a
              href="{{ repo.html_url }}"
              class="btn btn-sm btn-info pull-right"
              >view this project on github</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
